body {
    background-color: rgb(5, 65, 10);
}
.body {
    max-height: 700vh;
}
h1, h2, div, a, li, p {
    font-family: 'Roboto Slab';
}


.shape1 {
    position: absolute;
    margin-left: -10px;
    z-index: -3;
    background-color: white;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border-bottom: 6px solid grey;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
}
h1 {
    position: relative;
    margin: 0 0 0 39%;
}

.shape2 {
    position: absolute;
    margin: 80px 0 0 -10px;
    z-index: -3;
    background-color: white;
    width: 100%;
    height: 90px;
    border-radius: 30px;
    border-bottom: 6px solid grey;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
}
.text1 {
    position: relative;
    margin: 50px 45px 0 45px;
}

.shape3 {
    position: absolute;
    margin: 200px 0 0 -10px;
    z-index: -3;
    background-color: white;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border-bottom: 6px solid grey;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
}
h2 {
    position: relative;
    margin: 50px 0 0 37%;
}

.shape4 {
    position: absolute;
    margin: 270px 0 0 -10px;
    z-index: -3;
    background-color: white;
    width: 100%;
    height: 280px;
    border-radius: 30px;
    border-bottom: 6px solid grey;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
}
.text2 {
    position: relative;
    margin: 50px 45px 0 45px;
}
