html body {
    height: 100%;
}

body {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto Slab';
    background-color: hsl(181, 26%, 22%);
}


header {
    background-color: hsl(183, 29%, 54%);
    padding: 1%;
}

.heroList {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.heroList div {
    display: flex;
    align-items: center;
    /* background-color: red; */
    gap: 30px;
}

.heroList a {
    font-size: 20px;
}

.heroList img {
    width: 60px;
}


.hero {
    background: linear-gradient(to bottom, hsl(184, 18%, 32%), hsl(183, 19%, 18%));
    height: 70pc;
}

.img-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: first baseline;
    height: 100vh;
    padding: 2%;
    /* max-width: 900px; */
}

.img-header h1,
div {
    color: hsl(183, 42%, 67%);
    margin: 0%;
}

.img-header h1 {
    font-size: 40px;
}

.img-header div {
    font-size: 20px;
}