html body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab';
    background-color: hsl(183, 20%, 18%);
}


header {
    background-color: hsl(183, 29%, 54%);
    padding: 1%;
}

.heroList {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.heroList div {
    display: flex;
    align-items: center;
    /* background-color: red; */
    gap: 30px;
}

.heroList a {
    font-size: 20px;
}

.heroList img {
    width: 60px;
}

/* .heroList a div {
    padding-left: 2%;
} */


.hero {
    /* background: linear-gradient(to bottom, hsl(183, 19%, 18%), hsl(180, 20%, 9%)); */
    background-image: url(someTitleIThink.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.img-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* max-width: 900px; */
}

.img-header h1,
div {
    color: hsl(183, 42%, 67%);
    margin: 0%;
}

.img-header h1 {
    font-size: 40px;
}

.img-header div {
    font-size: 20px;
    padding: 20px;
}

button {
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: hsl(184, 62%, 72%);
    /* border-bottom: 15px black; */
    /* border-right: 15px black; */
    cursor: pointer;
}


svg {
    height: 200px;
    width: 200px;
}




.beneficials,
.benefit {
    background-color: hsl(183, 20%, 18%);
}

.beneficials {
    background-color: hsl(185, 18%, 26%);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* margin-top: 50px; */
}

.beneficials h2 {
    color: hsl(183, 42%, 67%);
    margin-top: 100px;
    align-self: center;
    font-size: 50px;
    text-align: center;
}

.beneficials h3 {
    align-self: center;
    font-size: 30px;
}

.benefit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 70px;
}

.reverse {
    flex-direction: row-reverse;
    background-color: hsl(185, 18%, 26%);
}