html body {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab';
    background-color: hsl(183, 20%, 18%);
}


header {
    background-color: hsl(183, 29%, 54%);
    padding: 1%;
}


/* Header section */
.heroList {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.heroList a {
    font-size: 25px;
}

.heroList img {
    width: 90px;
}

/* Burger list */
.heroList .menu {
    display: flex;
    align-items: center;
    /* background-color: red; */
    gap: 30px;
}

.heroList .menu ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

.heroList .menu li {
    /* ??? */
    padding: 15px;
}

.heroList .menu a {
    text-decoration: none;
}

#burger-toggle:checked~.menu {
    display: block;
}

.burger .line {
    width: 50px;
    height: 5px;
    background-color: hsl(246, 80%, 46%);
    margin: 15px 0;
}

#burger-toggle {
    display: none;
}

/* If max width more than 768: */
.burger {
    display: none;
}

/* If max width less than 768: */
@media (max-width: 768px) {
    .heroList .burger {
        display: block;
    }

    .heroList .menu {
        display: none;
        background: hsl(183, 29%, 54%);
    }

    .heroList .menu li {
        display: block;
    }

    .heroList .menu ul {
        display: flex;
        flex-direction: column;
    }
}


/* Hero section */
.hero {
    /* background: linear-gradient(to bottom, hsl(183, 19%, 18%), hsl(180, 20%, 9%)); */
    background-image: url(someTitleIThink.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.img-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* max-width: 900px; */
}

.img-header h1,
div {
    color: hsl(183, 42%, 67%);
    margin: 0%;
}

.img-header h1 {
    font-size: 70px;
}

.img-header div {
    font-size: 40px;
    padding: 40px;
}

button {
    text-align: center;
    font-size: 30px;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    background-color: hsl(184, 62%, 72%);
    /* border-bottom: 15px black; */
    /* border-right: 15px black; */
    cursor: pointer;
}


svg {
    height: 200px;
    width: 200px;
}




.beneficials,
.benefit {
    background-color: hsl(183, 20%, 18%);
}

.beneficials {
    background-color: hsl(185, 18%, 26%);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* margin-top: 50px; */
}

.beneficials h2 {
    color: hsl(183, 42%, 67%);
    margin-top: 100px;
    align-self: center;
    font-size: 60px;
    text-align: center;
}

.beneficials h3 {
    align-self: center;
    font-size: 45px;
    margin-top: 0%;
}

.beneficials div {
    font-size: 30px;
}

.beneficials .benefit div {
    max-width: 1500px;
}

.benefit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 70px;
}

.reverse {
    flex-direction: row-reverse;
    background-color: hsl(185, 18%, 26%);
}